@import "bootstrap/scss/bootstrap";

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin: 20px;
}

footer{
    margin-top: 1%;
    background-color: ghostwhite;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}